{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="container w-75 d-flex flex-column align-items-center">
    <h2 class="m-5 font-weight-bold">Pour nous contacter</h2>
    <h3>Par téléphone au :</h3>
    <p><a href="tel:0612345678" title="appeler le 06 12 34 56 78" class="text-success text-decoration-none">06 12 34 56 78</a> (du lundi au vendredi, de 9h à 18h)</p>
    <h3>Par mail à :</h3>
    <a href="mailto:contact@cactusfever.com" title="envoyer un email" class="text-success text-decoration-none">contact@cactusfever.com</a>
    <p>Nous prenons grand soin à vous répondre le plus rapidement possible.</p>
</div>
{% endblock %}
