{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{% include 'components/_info.html.twig' %}
<main class="main-home d-flex flex-column align-items-center gap-2">
    <a href="{{ path('product') }}" class="e-shop-home d-flex align-items-end justify-content-center">
        <section class="d-flex justify-content-center">
            <h2>E-shop</h2>
        </section>
    </a>
    <a href="{{ path('product') }}" class="articles-home d-flex align-items-end justify-content-center">
        <section class="d-flex justify-content-center">
            <h2>Articles</h2>
        </section>
    </a>
</main>
{% endblock %}
