{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<main class="d-flex flex-column align-items-center gap-2">
    <section class="e-shop-home d-flex justify-content-center align-items-end">
        <h2 class="text-center">E-shop</h2>
    </section>

    <section class="articles-home d-flex justify-content-center align-items-end">
        <h2 class="text-center">Articles</h2>
    </section>
</main>
{% endblock %}
