.info-promo {
    text-align: center;
    margin: 1rem 2rem 1rem 2rem;
    background-color: $yellow-navbar;
    border-radius: 30px;
    padding: 1rem;
    box-shadow: 0 3px 4px lighten($dark-text, 30%);

    h2 {
        font-weight: bold;
    }
}