.e-shop-title {

    img {
        width: 50px;
        vertical-align: middle;
    }
}

.list-categories-items {
    border: none;

    &:hover, &:focus {
        background-color: $green;
    }
}

.product-card {
    background-color: $white;
    padding: 0.5rem;
    // border: 3px solid $green;
    border-radius: 10px;
    box-shadow: 0 4px 4px lighten($dark-text, 30%);

    .product-img {
        height: 250px;
    }
}

.cart-btn {
    
    font-weight: bold;
    border: none;

    &:hover, &:focus {
        background-color: $green!important;
        color: $dark-text;
    }
}

.product-img-show {
    padding: 2rem;
    max-width: 300px;
    height: 300px;
}


@media screen and (min-width: 1024px) {
    .card-row {
        flex-direction: row!important;
    }
}
