@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Rubik+Beastly&display=swap');


$font-title: 'Rubik Beastly';
$font-text: 'Nunito';

//colors

$dark-text: #606060;
$yellow-navbar: #fef8cc;
$green: #ddf8dd;
$white: white;
$black: rgb(32, 31, 31);