// font-family
@font-face {
    font-family: 'Nunito';
    src: url('/assets/fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'Rubik Beastly';
    src: url('/assets/fonts/RubikBeastly-Regular.ttf');
}


$font-title: 'Rubik Beastly';
$font-text: 'Nunito';

// colors

$dark-text: #606060;
$yellow-navbar: #fef8cc;
$green: #ddf8dd;
$white: white;
$black: rgb(32, 31, 31);