{% extends 'base.html.twig' %}

{% block title %}Éditer la catégorie{% endblock %}

{% block body %}
<main class="d-flex flex-column align-items-center m-4">
    <a href="{{ path('category_index') }}" class="btn btn-success align-self-start">Retour à la liste</a>
    <h1 class="m-3">Éditer la catégorie</h1>
    <div class="d-flex flex-wrap align-items-end gap-3">
        {{ include('admin/category/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        {{ include('admin/category/_delete_form.html.twig') }}
    </div>
</main>
{% endblock %}
