{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
<main class="d-flex flex-column align-items-center m-4 gap-3">
    <a href="{{ path('category_index') }}" class="btn btn-success align-self-start">Retour à la liste</a>
    <h1 class="m-3">Créer une nouvelle catégorie</h1>
    {{ include('admin/category/_form.html.twig') }}
</main>
{% endblock %}
