<h1>Mot de passe modifié</h1>

<p>
    Nous avons bien pris en compte le changement de mot de passe pour le compte {{ username }}
</p>

<p>
    Si vous n'êtes pas à l'origine de cette modification, merci de nous contacter le plus rapidement possible sur <a href="{{ url('home') }}">Cactus Fever</a>
</p>