<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Cactus Fever | {% block title %} {% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <section class="logo-title d-flex justify-content-around align-items-center">
            <img src="{{ asset('build/images/cactus-logo.png') }}" alt="cactus-logo">
            <h1>Cactus Fever</h1>
        </section>
        {% block body %}{% endblock %}
    </body>
</html>
