<div class="info-promo">
    <h2 class="informations">Belle promotion sur les <a href="{{ path("products_category_show", {id: 2}) }}">lithops</a> le 14 février 2022. Pensez à la St Valentin ❤️</h2>
</div>